{{ define "main" }}

<section id="taxonomies" class="m-a">
  {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
  <div id="taxonomy">
    {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
    <h2>
      <a class='decoration-none text-dark dark:text-light op50 hover:op80' href="{{$taxonomy_term | absURL}}">{{ i18n $taxonomy_term }}</a>
    </h2>

    <div class="flex flex-wrap gap-4 justify-center">
      {{ range $key, $value := $taxonomy }}
      <a class='decoration-none p-1 rd-1 op50 hover:op80  text-{{.Count}}xl text-dark-{{.Count}} bg-stone-{{.Count}} dark:bg-dark-{{.Count}}00 dark:c-light-{{.Count}}'
        href="{{ $taxonomy_term | absURL }}/{{ $key }}">
        <span>
          {{ .Page.Title }}
          <sup class=" text-dark-{{.Count}} dark:text-light{{.Count}}">{{- .Count -}}</sup>
        </span>
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>

{{ end }}